##################################################
# Node.js
##################################################

node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

##################################################
# Umgebungsvariablen
##################################################

.env
.env.*

##################################################
# Betriebssystem
##################################################

.DS_Store
Thumbs.db

##################################################
# Visual Studio Code
##################################################

.vscode/

##################################################
# Logs
##################################################

logs/
*.log

##################################################
# Tests
##################################################

coverage/

##################################################
# Docker
##################################################

*.tar

##################################################
# Kubernetes
##################################################

.kube/
*.kube
kubeconfig

##################################################
# Temporäre Dateien
##################################################

tmp/
temp/
*.tmp

##################################################
# Tokens
##################################################

*.token
token.txt

##################################################
# Backups
##################################################

backup/
backups/
*.bak
*.backup

##################################################
# Sonstiges
##################################################

*.swp